# Theory

1. What are data structures, and why are they important

  -> Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.

  Data structure are important because it has:-

  (1) Efficient access: Data structures allow for quick access to data.

  (2) Faster programs: Understanding data structures and algorithms (DSA) can help you create programs that run faster.

  (3) Memory efficiency: DSA can help you create programs that use less memory.
  Problem solving: DSA can help you find efficient ways to solve specific problems.

2.   Explain the difference between mutable and immutable data types with examples

  -> In programming, data types can be classified as mutable or immutable based on whether their values can be changed after creation.

  Mutable Data Types

  Can be modified after creation.

  Changes occur in place without creating a new object.

  Stored in memory with a reference that allows modifications.

  Immutable Data Types

  Cannot be modified after creation.

  Any modification results in the creation of a new object in memory.

  Stored in memory with a unique reference that cannot be altered.

3. What are the main differences between lists and tuples in Python

  -> Lists:
  
  Mutable, meaning you can modify their elements after creation (add, remove, or change).

  Defined using square brackets [].

  Slightly slower than tuples due to their mutability, which requires more memory overhead.

  Use when you need to modify the collection of items, such as adding or removing elements.

  Have more built-in methods, such as append(), insert(), remove(), and pop(), which allow for modification.

  Tuples:

  Immutable, meaning you cannot modify them once created.

  Defined using parentheses ()

  Faster and more memory efficient than lists because they are immutable.

  Use when you need to store a fixed collection of items that should not be changed, such as coordinates or database records.

  Have fewer built-in methods, primarily focusing on accessing elements and performing operations that don't modify the tuple.

4. Describe how dictionaries store data

  -> A dictionary stores data as a collection of "key-value pairs", where each unique key is associated with a specific value, allowing for quick retrieval of data using the key as a reference

5. Why might you use a set instead of a list in Python?

  -> A set in Python is an unordered collection of unique elements, while a list is an ordered collection that can contain duplicate elements.

6. What is a string in Python, and how is it different from a list?

  -> A string is a sequence of characters, while a list is a sequence of items that can be of any type. Strings are immutable, meaning their values cannot be changed after they are created, while lists are mutable and can be modified.

7. How do tuples ensure data integrity in Python?

  -> Tuples ensure data integrity in Python through their immutability. This means that once a tuple is created, its elements cannot be modified, added, or removed.

8. What is a hash table, and how does it relate to dictionaries in Python?

  -> A hash table is a data structure that maps keys to values using a hash function. The hash function takes the key as input and produces an index into an array where the corresponding value is stored. This allows for efficient retrieval of values based on their keys.

9. Can lists contain different data types in Python?

  -> Yes, lists in Python can contain different data types.
  
  Example:

  my_list = [1, "hello", 3.14, True]
  
  print(my_list)

10. Explain why strings are immutable in Python

  -> Strings in Python are “immutable” which means they can not be changed after they are created. Some other immutable data types are integers, float, boolean, etc.

11. What advantages do dictionaries offer over lists for certain tasks?

  -> Dictionaries have several advantages over lists for tasks that require frequent lookups or searches. Dictionaries are faster for finding a specific value, and they can store complex data structures.

12. Describe a scenario where using a tuple would be preferable over a list.

  -> A scenario where a tuple would be preferable over a list is when you need to store a fixed set of data that should not be modified throughout your program, like representing a coordinate pair (x, y), an RGB color value (red, green, blue), or a database record where the order of elements is important but the values should remain constant; in these cases, using a tuple ensures data integrity by preventing accidental changes, which can be beneficial for code reliability.

13. How do sets handle duplicate values in Python?

  -> Sets in Python are designed to store only unique elements. When an attempt is made to add a duplicate value to a set, Python automatically discards the duplicate, ensuring that the set contains only distinct elements. This behavior makes sets useful for tasks like removing duplicates from a list or checking for the presence of unique items.

14. How does the “in” keyword work differently for lists and dictionaries?

  => When using the "in" keyword, it checks if a value exists within a list by comparing it to each element in the list, while in a dictionary, it checks if a value exists as a key, meaning it only looks for the key and not the associated value; essentially, "in" only checks for key membership in a dictionary, not value membership.

15. Can you modify the elements of a tuple? Explain why or why not.

  -> No, you cannot modify the elements of a tuple in Python because tuples are immutable. This means that once a tuple is created, its elements cannot be changed, added, or removed.

16. What is a nested dictionary, and give an example of its use case?

  -> A nested dictionary is a dictionary that is stored within another dictionary. It's a way to store data in multiple layers, which can be useful for managing complex data.

17. Describe the time complexity of accessing elements in a dictionary?

  -> In Python, the time complexity of accessing an element in a dictionary is \(O(1)\) on average. This means that accessing an element in a dictionary is very fast.

18.  In what situations are lists preferred over dictionaries?

  -> Lists are preferred over dictionaries when the order of elements is crucial, when you need to frequently add or remove elements from the beginning or end of a collection, or when you primarily need to access elements based on their position (index) rather than a unique key; essentially, when the data is best represented as a sequence where order matters significantly.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

  -> Dictionaries are considered unordered because they do not maintain a specific order of their key-value pairs when storing data, meaning the sequence in which items were added is not preserved; this prioritizes fast access to data using keys rather than accessing elements based on their position in a sequence, which is how ordered data structures like lists function, and therefore, data retrieval in a dictionary is done directly by specifying the key, not by iterating through a sequence to find the desired value.

20.  Explain the difference between a list and a dictionary in terms of data retrieval.

  -> In Python, the difference between data retrieval in a list and a dictionary is that lists use indices to access elements, while dictionaries use keys.

  Explanation

  Lists

  1) Lists are ordered collections of items.

  2) Elements in a list are accessed using indices, which are integers that start at zero.
  
  3) Lists are good for ordered operations like sorting.

  4) Lists can contain duplicate items.

  Dictionaries
  
  1) Dictionaries are unordered collections of key-value pairs.

  2) Elements in a dictionary are accessed using keys, which can be of any data type.

  3) Dictionaries are good for lookup operations.

  4) Dictionaries do not allow duplicate keys.

# Practicals Questions

1. Write a code to create a string with your name and print it.

In [1]:
name = "Harsh"
print(name)

Harsh

2. Write a code to find the length of the string "Hello World".

In [2]:
len("Hello World")

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
s = "Hello, Python!"

s2 = s[0:3]

print(s2)

Hel

4. Write a code to convert the string "hello" to uppercase

In [1]:
s="hello"
print(s.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [4]:
s="I like apple"
s.replace("apple","orange")

'I like orange'

6. Write a code to create a list with numbers 1 to 5 and print it

In [5]:
s=[1,2,3,4,5]
print(s)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [7]:
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [8]:
s=[1,2,3,4,5]
if 3 in s:
  s.remove(3)
print(s)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [11]:
s=['a','b','c','d']
print(s[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [27]:
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [28]:
s=(100,200,300)
print(s)
print(type(s))

(100, 200, 300)
<class 'tuple'>

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [31]:
colors = ('red', 'green', 'blue', 'yellow')
second_to_last_color = colors[-2]

print(second_to_last_color)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [33]:
s=(10, 20, 5, 15)
print(min(s))

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [34]:
s=('dog', 'cat', 'rabbit')
index = s.index("cat")
print(index)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [35]:
fruits = ("apple", "banana", "kiwi")
if "kiwi" in fruits:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is in the tuple

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [36]:
s={ 'a', 'b', 'c'}
print(s)
print(type(s))

{'a', 'c', 'b'}
<class 'set'>

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [39]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()

print(my_set)

set()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [40]:
s={1, 2, 3, 4}
if 4 in s:
  s.remove(4)
  print(s)

{1, 2, 3}

19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [41]:
A={1, 2, 3}
B={3, 4, 5}
print("A U B:", A.union(B))

A U B: {1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [42]:
A={1, 2, 3}
B={2, 3, 4}
print("A U B:", A.intersection(B))

A U B: {2, 3}

21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [46]:
person_info = {"name": "Harsh", "age": 30, "city": "Ghaziabad"}
print(person_info)

{'name': 'Harsh', 'age': 30, 'city': 'Ghaziabad'}

22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [47]:
person_info = {'name': 'John', 'age': 25}
person_info['country'] = "USA"

print(person_info)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [48]:
my_dict = {'name': 'Alice', 'age': 30}
name = my_dict["name"]
print(name)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [49]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25. . Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [50]:
my_dict = {'name': 'Bob', 'city': 'New York'}
if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")

The key 'city' exists in the dictionary.

26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [51]:
my_list = ["apple", "banana", "orange"]
my_tuple = ("mango", "grape", "kiwi")
my_dict = {"fruit": "pineapple", "color": "yellow"}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: ['apple', 'banana', 'orange']
Tuple: ('mango', 'grape', 'kiwi')
Dictionary: {'fruit': 'pineapple', 'color': 'yellow'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [52]:
import random

random_list = [random.randint(1, 100) for _ in range(5)]

random_list.sort()

print("Sorted random numbers:", random_list)

Sorted random numbers: [12, 65, 66, 73, 85]

28. Write a code to create a list with strings and print the element at the third index.

In [53]:
my_list = ["apple", "banana", "orange", "mango"]
print(my_list[2])

orange

29.  Write a code to combine two dictionaries into one and print the result.

In [55]:
d1 = {'x': 1, 'y': 2}
d2 = {'y': 3, 'z': 4}

d1.update(d2)
print("d1 = ",d1)

d1 =  {'x': 1, 'y': 3, 'z': 4}

30. Write a code to convert a list of strings into a set.

In [58]:
list_of_strings = ["apple", "banana", "cherry", "apple"]
set_of_strings = set(list_of_strings)
print("set_of_strings = ", set_of_strings)

set_of_strings =  {'banana', 'cherry', 'apple'}